<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Maliev.SearchService.*]*</Include>
          <Exclude>[Maliev.SearchService.Tests]*</Exclude>
          <ExcludeByFile>**/obj/**/*.cs,**/Program.cs,**/Migrations/*.cs,**/*ModelSnapshot.cs,**/*DbContextFactory.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
